.card{

    background:white;
    border-radius:10px;
    overflow:hidden;

    .card-image{
        width:100%;
    }

    .card-title{
        padding:15px;
        color:#333;
    }

    &:hover{
        transform:translateY(-5px);
    }

    &.featured{
        border:2px solid gold;
    }

}